body{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(255,255,51,0.3);
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  position: relative;
  width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;

}
.container .card{
  position: relative;
  max-width: 400px;
  height: 555px;
  background-image: linear-gradient(to right, rgba(51,255,204,0.3), rgba(0,45,79,0.75));
  margin: 30px 10px;
  padding: 20px 15px 25px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover
{
  height: 265px;
}
.container .card .imgBx img{
  position:relative;
  width: 260px;
  height: 250px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  }

.container .card:hover .content
{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #222;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;


}

.container .card:hover .content
{
  visibility: hidden;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
.container .card:hover .content .head{
  visibility: visible;
  opacity: 1;
  margin-top: 40px;
  transition-delay: 0.3s;
  color: #fff;
}
